<h3>Axes</h3>
<p>Axes are, by default, added to every <em>histogram</em> and <em>scatter plot</em> tracks. There is no need for them when displaying a <em>heatmap</em> or <em>tiles</em>.</p>
<p>Any modifications regarding the format of axes should be made in the <code>&ltaxes&gt</code> block from the <b>axis.conf</b> file.</p>

<br>
<h4><font color="#0088cc">No axis</font></h4>
<p>You might want to remove the axes on some of your tracks. In this case, <u>the alteration must be made in <b>specific.conf</b> rather than in axis.conf</u>. In the appropriate <code>&ltplot&gt</code> block, remove or comment the line <code>&lt&ltinclude axis.conf&gt&gt</code>.</p>
<p>If you want to remove all axes from all tracks, change the display paramater of the <code>&ltaxes&gt</code> block:</p>
<div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-4">
		<pre>&ltaxes&gt<br>  show = <font color="#0088cc"><b>no</b></font><br>  &ltaxis&gt<br>    color = vlgrey<br>    spacing = 0.1r<br>  &lt/axis&gt<br>&lt/axes&gt</pre>
	</div>
</div>

<br>
<h4><font color="#0088cc">Spacing</font></h4>
<p>To define the ticks on y-axis, you must define the spacing between them. The interface set it by default to <code>spacing = 0.1r</code>. The <code>r</code> means that the spacing will be <em>relative</em> to the track dimension. Using a smaller value will augment the number of ticks, while a bigger value will dimish the numebr of ticks.</p>
<p>You can also define the spacing in units:</p>
<div class=row>
	<div class="col-md-1">
	</div>
	<div class="col-md-5">
		<img class="media-object" src="{{ url_for('image', img='spacinf_5_axis.png')}}" alt="Default Histogram" style="margin-left: auto; margin-right: auto; width:100%; height:100%" >
		<p><center><code>spacing = 5</code></center></p>
	</div>
	<div class="col-md-5">
		<img class="media-object" src="{{ url_for('image', img='spacinf_10_axis.png')}}" alt="Default Histogram" style="margin-left: auto; margin-right: auto; width:100%; height:100%" >
		<p><center><code>spacing = 10</code></center></p>
	</div>
</div>
<p><em><b>Tip:</b> it is easier to define unitary spacing when you know or have set minimum and maximum values. (in the example, the values range from 0 to 50).</em></p>

<br>
<h4><font color="#0088cc">Color & Size</font></h4>
<p>When you generate a Circos, the axis will be by default grey and of size 1. To alter them, you can change the color name on the line <code>color = grey</code> and/or the integer on the line <code>thickness = 1</code>.</p>
<div class=row>
	<div class="col-md-1">
	</div>
	<div class="col-md-5">
		<img class="media-object" src="{{ url_for('image', img='color_axis.png')}}" alt="Default Histogram" style="margin-left: auto; margin-right: auto; width:100%; height:100%" >
		<p><center><code>color = vdred<br>thickness = 1</code></center></p>
	</div>
	<div class="col-md-5">
		<img class="media-object" src="{{ url_for('image', img='thick_axis.png')}}" alt="Default Histogram" style="margin-left: auto; margin-right: auto; width:100%; height:100%" >
		<p><center><code>color = vdred<br>thickness = 5</code></center></p>
	</div>
</div>
