<h3>Colors</h3>
<p>You can practically use any color that you want! You can even define your own colros with <em>RGB</em> or <em>HSV</em> definitions in the <code>&ltcolor&gt</code> block. If you are not familiar with the latter, it is suggested that you use the pre-defined ones.</p>
<br>
<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-2">
		<div style="width:80px; height:80px; border:1px solid rgb(0,0,0); background-color:rgb(255,255,255); margin: 0 auto;"></div>
		<p><center>White</center></p>
	</div>
	<div class="col-md-2">
		<div style="width:80px; height:80px; background-color:rgb(0,0,0); margin: 0 auto;"></div>
		<p><center>Black</center></p>
	</div>
	<div class="col-md-2">
		<div style="width:80px; height:80px; background-color:rgb(158,154,200); margin: 0 auto;"></div>
		<p><center>Purple</center></p>
	</div>
	<div class="col-md-2">
		<div style="width:80px; height:80px; background-color:rgb(107,174,214); margin: 0 auto;"></div>
		<p><center>Blue</center></p>
	</div>
</div>
<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-2">
		<div style="width:80px; height:80px; background-color:rgb(251,106,74); margin: 0 auto;"></div>
		<p><center>Red</center><p>
	</div>
	<div class="col-md-2">
		<div style="width:80px; height:80px; background-color:rgb(253,141,60); margin: 0 auto;"></div>
		<p><center>Orange</center></p>
	</div>
	<div class="col-md-2">
		<div style="width:80px; height:80px; background-color:rgb(255,244,80); margin: 0 auto;"></div>
		<p><center>Yellow</center></p>
	</div>
	<div class="col-md-2">
		<div style="width:80px; height:80px; background-color:rgb(116,196,118); margin: 0 auto;"></div>
		<p><center>Green</center></p>
	</div>
</div>
<br>
<p>These are the eight main colors used by Circos. You can also play with their tone for more variability (except for <em>black</em> and <em>white</em>). To do so, add one of the tone prefixes to the color name.<br><center><code>vvd</code>, <code>vd</code>, <code>d</code>, <code>l</code>, <code>vl</code>, <code>vvl</code></center><br>Where <b>v</b> stands for <u>v</u>ery, <b>d</b> for <u>d</u>ark and <b>l</b> for <u>l</u>ight.</p>
<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-1">
		<div style="width:70px; height:80px; background-color:rgb(8,69,148); margin: 0 auto;"></div>
		<p><center>vvdblue</center></p>
	</div>
	<div class="col-md-1">
		<div style="width:70px; height:80px; background-color:rgb(33,113,181); margin: 0 auto;"></div>
		<p><center>vdblue</center></p>
	</div>
	<div class="col-md-1">
		<div style="width:70px; height:80px; background-color:rgb(66,146,198); margin: 0 auto;"></div>
		<p><center>dblue</center></p>
	</div>
	<div class="col-md-1">
		<div style="width:70px; height:80px; background-color:rgb(107,174,214); margin: 0 auto;"></div>
		<p><center>blue</center></p>
	</div>
	<div class="col-md-1">
		<div style="width:70px; height:80px; background-color:rgb(158,202,225); margin: 0 auto;"></div>
		<p><center>lblue</center></p>
	</div>
	<div class="col-md-1">
		<div style="width:70px; height:80px; background-color:rgb(198,219,239); margin: 0 auto;"></div>
		<p><center>vlblue</center></p>
	</div>
	<div class="col-md-1">
		<div style="width:70px; height:80px; background-color:rgb(239,243,255); margin: 0 auto;"></div>
		<p><center>vvlblue</center></p>
	</div>
</div>
