<h3>Heat Map</h3>
<p>The first step in altering a track represented by a scatter plot is to locate its <code>&ltplot&gt</code> block in <b>specific.conf</b>.</p>
<p>You should find the line <code>type = heatmap</code> in that block.</p>
<blockquote>In this track, regions of the genome are assigned a value (e.g. density of genes) and are shown as wedges whose color is a function of the value.<br><p align="right"><em>- M. Krzywinski</em></p></blockquote>
<p>It is hard to demonstrate the outcomes of some parameters on heatmap, specially color-related ones: for a same color-scheme, heat maps from different data sets will have completely different pattern. It is best to play around and test different outcomes to obtain the best and clearest results.</p>
<p>An easy way to modify your heat map is to give it a specific color scheme. To do so, add the line <code>color =</code> underneath <code>type = heatmap</code>.</p>
<div class=row>
	<div class="col-md-6">
		<img class="media-object" src="{{ url_for('image', img='default_heat.png')}}" style="margin-left: auto; margin-right: auto; width:90%; height:90%" >
		<p><center><em>Default heat map for a given data set</em></center></p>
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-6">
				<img class="media-object" src="{{ url_for('image', img='gs_heat.png')}}" style="margin-left: auto; margin-right: auto; width:50%; height:50%" >
				<p><center><code>color = greys-6-seq</code></center></p>
			</div>
			<div class="col-md-6">
				<img class="media-object" src="{{ url_for('image', img='ps_heat.png')}}" style="margin-left: auto; margin-right: auto; width:50%; height:50%" >
				<p><center><code>color = purples-6-seq</code></center></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<img class="media-object" src="{{ url_for('image', img='bs_heat.png')}}" style="margin-left: auto; margin-right: auto; width:50%; height:50%" >
				<p><center><code>color = blues-6-seq</code></center></p>
			</div>
			<div class="col-md-6">
				<img class="media-object" src="{{ url_for('image', img='vs_heat.png')}}" style="margin-left: auto; margin-right: auto; width:50%; height:50%" >
				<p><center><code>color = greens-6-seq</code></center></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<img class="media-object" src="{{ url_for('image', img='os_heat.png')}}" style="margin-left: auto; margin-right: auto; width:50%; height:50%" >
				<p><center><code>color = oranges-6-seq</code></center></p>
			</div>
			<div class="col-md-6">
				<img class="media-object" src="{{ url_for('image', img='rs_heat.png')}}" style="margin-left: auto; margin-right: auto; width:50%; height:50%" >
				<p><center><code>color = reds-6-seq</code></center></p>
			</div>
		</div>
	</div>
</div>
