{% extends "base.html" %}

{% block style %}
.tooltip-inner {
  background-color: #0088cc
}
{% endblock %}

{% block help %}
<center><h3>Generated Circos</h3></center>
<p>Each of your generated circos will have a <b>unique ID</b> assossiated to it. This ID is a three-part-numerical code. In the event that you get an error message while generating a Circos, take note of the ID: we can trace back the problem that cause the error. You will then be able to make the appropriate change(s). </p>

<center><h3>The Image</h3></center>
<p>If you generated the image by uploading data file(s), the Circos will have pre-defined attributes and parameters set by the interface.</p> 
<p>In avery case, the image is <b>dragable</b>: to do so, just click on the image and, while holding your click, drag it to where you want it to be. You can also find out <b>information</b> about the values represented as label(s), track(s) and links by <em>hovering</em> the Circos. For example, if you have a histogram track you can know the value of a specific bin by placing your cursor over it.</p>

<center><h3>Legend</h3></center>
The <b>legend</b> is there as a track identifier. The first thing to be displayed will be the name of your links, if you uploaded data to be represented as links. Then, all tracks will be listed from outermost to innermost, with the name you wrote while uploading your file(s).</p>
<p>To hide the legend block, just click the <em>x</em> button; to show it, click the button labelled <em>Legend</em>.</p>

<center><h3>Details</h3></center>
<p>The <b>details</b> block is there as reminder and an information holder. It contains information about the task:</p>
<p><ul>
  <li><font color="#6495ED">Type</font>: Data file(s) <em>or</em> Configuration files <em>or</em> Tabular</li>
  <li><font color="#6495ED">Description</font>: <em>personal notes</em></li>
  <li><font color="#6495ED">Date</font>: YYYY-MM-DD <em>when the circos was generated</em></li>
  <li><font color="#6495ED">ID</font>: <em>unique ID</em></li>
  <li><font color="#6495ED">ZIP</font>: <em>uploaded_package_name</em> (<b>Configuration files only</b>)</li>
  <li><font color="#6495ED">Karyotype</font>: hs <em>or</em> mm (<b>Data file(s) only</b>)</li>
  <li><font color="#6495ED">Density</font>: yes <em>or</em> no <em>is there a Gene Density track?</em> (<b>Data file(s) only</b>)</li>
  <li><font color="#6495ED"><em>links_name</em></font>: <em>link_file_name</em> (<b>Data file(s) only</b>)</li>
  <li><font color="#6495ED"><em>track_name</em></font>: <em>track_file_name</em> (<b>Data file(s) only</b>)</li>
</ul></p>
<p>To hide the details block, just click the <em>x</em> button; to show it, click the button labelled <em>Details</em>.</p>

<center><h3>Options</h3></center>
<h4><font color="#6495ED">Download</font></h4>
<p>Once a Circos is generated, you always have the option to download its <b>SVG</b> image (Scalable Vector Graphics). If the Circos is of type <em>Data file(s)</em>, you also have the option to download a <b>compressed package (.zip)</b>: this package contains every file used to make the image (.txt and .conf). You can then make modification(s) and upload the package to generate a new and improve Circos.</p>
<h4><font color="#6495ED">Delete</font></h4>
<p>You can delete any of your Circos. However, please note that one deleted, a Circos and its related files can not be retrieved.</p>
<h4><font color="#6495ED">Actions on the image</font></h4>
<p>You can <b>zoom</b> up to 250% of the image by adjusting the zoom range-bar. By default, the image is set to 100%.</p>
<p>You also have the option to <b>highligth</b> any value of your Circos. Press the <em>Highlight</em> button and then the desired value: histogram bins, circles and tiles will be filled in red, and labels will be red.</p>
<p>To come back to your original Circos, click the <b>Reset</b> button: the modifications are only superficial, meaning that there are not saved as a new image. </p>
{% endblock %}

{% block header %}
<h1> Generated Circos <small>{{ unique }}</small></h1>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-8">
		<div class='svg' id='image_svg' display="block" margin="auto"></div>
	</div>
	<div class="col-md-4">
		<div class="row" >
			<div class="col-md-7">
				<button id='dLabel' type='button' class="btn btn-primary dropdown-toggle" data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>Downloads<span class='caret'></span></button>
  				<ul class='dropdown-menu' role='menu' aria-labelledby='dLabel'>
					<li><a href="/download/{{ unique }}/circos_{{ unique }}.svg">Circos.svg</a></li>
					{% if 'ata' in type %}
    					<li><a href="/download/{{ unique }}/circos.zip">Circos.zip</a></li>
					{% else %}
					<li class='disabled'><a href="/download/{{ unique }}/circos.zip">Circos.zip</a></li>
					{% endif %}
				</ul>
			</div>
			<div class="col-md-3">				
				<button class="btn btn-danger pull-right" role='button' data-toggle="modal" data-target="#delete_confirm">Delete</button>
			</div>
			<div class="col-md-10">
				<hr>
			</div>
		</div>
		<!-- Zoom -->
		<div class="row">
			<div class="col-md-10">
				<label for="zoom-"><font color="#0088cc">Zoom <span id="perc" >100%</span></font></label> 
				<input type="range" id="zoom-range" min="50" max="250" value="100" step="1" onchange="zoom(this.value)" oninput="zoom(this.value)"></input>
			</div>		
		</div>
		<br>

		{% if 'Tabular' not in type %}
		<!-- Enable Highlights -->
		<div class="row" >
			<div class="col-md-5">
				<label for="highlights"><font color="#0088cc">Highlights</font></label> 
			</div>
			<div class="col-md-5">				
				<input id="highlights" type="checkbox" name="switch" data-handle-width="50px" data-size="mini" onChange="h()">
			</div>
		</div>

		<!-- Tooltip info -->
		<div class="row" >
			<div class="col-md-5">
				<label for="gene_info"><font color="#0088cc">Values & Gene Information</font></label> 
			</div>
			<div class="col-md-5">				
				<input id="val" type="checkbox" name="switch" data-handle-width="50px" data-size="mini" onChange="v()" >
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-5">
				<label for="species"><font color="#0088cc">Gene information for: &nbsp&nbsp&nbsp</font></label> 
			</div>
			<div class="col-md-5">
				<input type='radio' name='species' id='species' value='human' checked>&nbspHomo sapiens<br> 				
				<input type='radio' name='species' id='species' value='mouse'>&nbspMouse
			</div>
		</div>
		
		<!-- Hidden -->
		<div class="row" id="gene_info" style="display:none">
			<br>
			<div class="col-md-10">
				<div class="panel panel-default">
    					<div class="panel-body" >
						<button type="button" class="close" onclick="close_panel('gene_info')">&times;</button>
						<div class="panel-body-gi">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<button id="reset" type="button" class="btn btn-default pull-left" onclick="reset()"><font color="#0088cc">Reset</font></button>
			</div>
			<div class="col-md-10">
				<hr>
			</div>
		</div>
		{% endif %}

		<!-- hidden -->
		<div class="row" id ="show_l" style="display:none">
			<div class="row">
				<div class="col-md-10">
					<center><button class="astext" onclick="show_panel('legend')">Show Legend</center>
				</div>
			</div>			
		<br>
		</div>

		<div class="row" id ="show_d" style="display:none">
			<div class="row">
				<div class="col-md-10">
					<center><button class="astext" onclick="show_panel('details')">Show Details</center>
				</div>
			</div>
		</div>

		<div class="row" id="legend" style="display:block">
			<div class="col-md-10">
				<br>
				{% if lines_legend|length > 0 %}
				<div class="panel panel-default" id="myLegend">
    					<div class="panel-body">
						<button type="button" class="close" onclick="close_panel('legend')">&times;</button>
						<center><font color="#0088cc"><b><u> Legend </u></b></font></center>
						{% for l in lines_legend %}
							{{ l }}
							<br>
						{% endfor %}
		 				<br>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
		{% if lines_info|length > 0 %}
		<div class="row" id="details" style="display:block">
			<div class="col-md-10">
				<br>
				<div class="panel panel-default" id="myInfo">
    					<div class="panel-body">
						<button type="button" class="close" onclick="close_panel('details')">&times;</button>
						<center><font color="#0088cc"><b><u> Details </u></b></font></center>
						{% for l in lines_info %}
							{{ l }}
							<br>
						{% endfor %}
		 				<br>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
</div>




<!-- delete modal -->
<div class="modal fade" id="delete_confirm" role="dialog">
	<div class="modal-dialog"> 
		<div class="modal-content">
			<div class="modal-body">
				<h3><center>Deleting Circos</center></h3>
				<p>Are you sure you want to delete this Circos: </p>
				<p><pre>{% for l in lines_info %}{{ l }}{% endfor %}</pre></p><br>
				<p><em>Once deleted, a Circos and its related files can not be retrieved.</em></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default close pull-left" data-dismiss="modal">Cancel</button>
				<a href="/delete/{{ unique }}" class="btn btn-danger pull-right" role='button'>Delete</a>
			</div>
		</div>
	</div>
</div>
{% endblock%}

{% block script %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript"  src="{{url_for('static', filename='jquery.panzoom.js')}}"></script>
<script type="text/javascript"  src="{{url_for('static', filename='tooltip.js')}}"></script>
<script type="text/javascript"  src="{{url_for('static', filename='bootstrap-switch.js')}}"></script>
<script type="text/javascript" >
/*******************************************
****					****
****	    	INFO - LEGEND		****
****					****
********************************************/
//close panel -> gene info, info, legend
function close_panel(id) {
	console.debug('close: ' + id)
	document.getElementById(id).style.display = "none";
	if (id == 'legend') {
		document.getElementById('show_l').style.display = "block";
	}
	if (id == 'details') {
		document.getElementById('show_d').style.display = "block";	
	}
}

function show_panel(id) {
	console.debug('show: ' + id)
	document.getElementById(id).style.display = "block";
	if (id == 'legend') {
		document.getElementById('show_l').style.display = "none";		
	}
	if (id == 'details') {
		document.getElementById('show_d').style.display = "none";
	}
}


/*******************************************
****					****
****	    	GET SVG 		****
****					****
********************************************/
var timesRun = 0;

getImage();

var refresh = setInterval (function(){ getImage(); }, 10000);

function tt(data){
	console.debug(data)
	console.debug(typeof data)
	return data;
};

//callback function -> get value from asynchronous
function ajax(c, s, e, species, callback){
	var c = c.replace("chr","")
	console.debug(species)
	$.ajax({
		url : "/gene_info/" + c + "/" + s + "/" + e + "/" + species,
		cache : false,
		datatype: "text",
		success: function(i){
			callback(i);
		},
	});
}

var species = document.getElementById("species").value
var server = "http://rest.ensembl.org"

function getImage () {
	console.debug("getImage");
	$.ajax({ 
 	   url : {% block url%}"{{url_for('get_svg', unique=unique, type=type)}}"{% endblock %},   
 	   cache : false,
 	   datatype : 'xml',

 	   success : function(content) {
 	   		console.debug(++timesRun);		
 	   		if (content=='' | content ==undefined) {
 	   			{% block display %}	
				$('#image_svg').html('<div style="padding:10px;"><center><i class="fa fa-cog fa-spin fa-3x"></i></center></div><p><center>Do not close this current tab while your Circos is beeing generated. You will receive an e-mail once the task is done.</center></p></div>');
				{% endblock%} 	   		
			}

			else if (content == 'error') {
				$("#image_svg").html('<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><em>An error has occured while generating your circos. Please check your files and try again</em></div>');
				$("#info").html('')
				clearInterval(refresh);
			}

 	   		else {  
				
				$("#image_svg").html(content);
                        	var svg = $('#image_svg').find('svg')[0];
				svg.setAttribute('width', "100%");
				svg.setAttribute('height', "100%");
				svg.setAttribute('viewBox', "-300 -300 3500 3500");
				clearInterval(refresh);							
			}
        }
      });
}

/*******************************************
****					****
****	    	INTERACTIVITY 		****
****					****
********************************************/
$(document).ready(function() {
	$("[name='switch']").bootstrapSwitch();	
});

$("#image_svg").panzoom({
 	//$zoomIn: $("#zoom-in"),
  	//$zoomOut: $("#zoom-out"),
});

function zoom(val){
	console.debug(val)
	var svg = $('#image_svg').find('svg')[0];
	var v = val + "%"
	var vb = [val * -3, val * -2.5, 3000 + (5 * val), 3000 + (5 * val)]
	document.getElementById("perc").innerHTML = v;
	svg.setAttribute('width', v);
	svg.setAttribute('height', v);
	svg.setAttribute('viewBox', vb.join(" "))
};

function reset() {
	document.location.reload(true);
	console.debug('refreshed');
};

var emphasized = {}
//highlight -> ON/OFF
function h(){
	console.debug(document.getElementById('highlights').checked)
	if(document.getElementById('highlights').checked){
		//var emphasized = {}
		console.debug("highlight: ON")
		//ideogram labels
		$("#ideograms text").bind({
			mouseenter: function() {
				var x = this.getAttribute("x");
				if (emphasized[x]) {
					$(this).attr('id', 'e');	// emphasized already
				} else {
					var style = this.getAttribute("style");
					emphasized[x] = style;
					$(this).css('fill', 'crimson');
					$(this).css('font-size', '60');
				}
			
			},
			mouseleave: function() { 
				var x = this.getAttribute("x")
				$(this).attr("style", emphasized[x]);
				delete emphasized[x];
			},
			click: function() {
				if (this.getAttribute("id") == "e") {		// back un-emphasized
					var x = this.getAttribute("x");
						$(this).attr("style", emphasized[x]);
					$(this).removeAttr('id');
					delete emphasized[x];	
				} else {
					$(this).off('mouseleave');		// keep emphasized
				
				}			
			},
		});
		//plot-axis
		$("g[id^='plot'][id$='-axis'] path").bind({
			mouseenter: function() {
				var d = this.getAttribute("d");	
				var style = this.getAttribute("style");
				emphasized[d] = style;
				$(this).attr("style", emphasized[d]);
			},
			mouseleave: function() {
				var d = this.getAttribute("d");
				$(this).attr("style", emphasized[d]);
				delete emphasized[d];
			},
		});
		//plots
		$("g:not([id$='-axis'])[id^='plot'] path").bind({
			mouseenter: function() {
				var d = this.getAttribute("d");
				//emphasize					
				if (emphasized[d]) {
					$(this).attr('id', 'e');	// emphasized already
				} else {
					var style = this.getAttribute("style");
					emphasized[d] = style;
					$(this).css('fill', 'crimson');
					if (this.getAttribute("class") == "tile") {
						$(this).css('stroke', 'crimson');
						$(this).css('stroke-width', '5.0');
					}
				}		
			},
			mouseleave: function() {
				var d = this.getAttribute("d")
				$(this).attr("style", emphasized[d]);
				delete emphasized[d];
			},
			click: function() {
				if (this.getAttribute("id") == "e") {		// back un-emphasized
					var d = this.getAttribute("d");
					$(this).attr("style", emphasized[d]);
					$(this).removeAttr('id');
					delete emphasized[d];	
				} else {
					$(this).off('mouseleave');		// keep emphasized					
				}
			}
		});
		//scatter plots -> polygons
		$("g:not([id$='-axis'])[id^='plot'] polygon").bind({
			mouseenter: function() {
				var cx = this.getAttribute("cx");
				//emphasized
				if (emphasized[cx]) {
					$(this).attr('id', 'e');	// emphasized already
				} else {
					var style = this.getAttribute("style");
					emphasized[cx] = style;
					$(this).css('fill', 'crimson')		
					$(this).css('stroke', 'fireBrick');
					$(this).css('stroke-width', '3.0');
				}	
			},
			mouseleave: function() {
				var cx = this.getAttribute("cx")
				$(this).attr("style", emphasized[cx]);
				delete emphasized[cx];
			},
			click: function() {
				if (this.getAttribute("id") == "e") {		// back un-emphasized
					var cx = this.getAttribute("cx");
					$(this).attr("style", emphasized[cx]);
					$(this).removeAttr('id');
					delete emphasized[cx];	
				} else {
					$(this).off('mouseleave');		// keep emphasized
				
				}
			}
		});
		//scatter plots -> rectangle
		$("g:not([id$='-axis'])[id^='plot'] rectangle").bind({
			mouseenter: function() {
				var cx = this.getAttribute("cx");
				//emphasized
				if (emphasized[cx]) {
					$(this).attr('id', 'e');	// emphasized already
				} else {
					var style = this.getAttribute("style");
					emphasized[cx] = style;
					$(this).css('fill', 'crimson')		
					$(this).css('stroke', 'fireBrick');
					$(this).css('stroke-width', '3.0');
				}	
			},
			mouseleave: function() {
				var cx = this.getAttribute("cx")
				$(this).attr("style", emphasized[cx]);
				delete emphasized[cx];
			},
			click: function() {
				if (this.getAttribute("id") == "e") {		// back un-emphasized
					var cx = this.getAttribute("cx");
					$(this).attr("style", emphasized[cx]);
					$(this).removeAttr('id');
					delete emphasized[cx];	
				} else {
					$(this).off('mouseleave');		// keep emphasized
				
				}
			}
		});
		//scatter plots -> circle
		$("g:not([id$='-axis'])[id^='plot'] circle").bind({
			mouseenter: function() {
				var cx = this.getAttribute("cx");
				//emphasized
				if (emphasized[cx]) {
					$(this).attr('id', 'e');	// emphasized already
				} else {
					var style = this.getAttribute("style");
					emphasized[cx] = style;
					$(this).css('fill', 'crimson')		
					$(this).css('stroke', 'fireBrick');
					$(this).css('stroke-width', '3.0');
				}	
			},
			mouseleave: function() {
				var cx = this.getAttribute("cx")
				$(this).attr("style", emphasized[cx]);
				delete emphasized[cx];
			},
			click: function() {
				if (this.getAttribute("id") == "e") {		// back un-emphasized
					var cx = this.getAttribute("cx");
					$(this).attr("style", emphasized[cx]);
					$(this).removeAttr('id');
					delete emphasized[cx];	
				} else {
					$(this).off('mouseleave');		// keep emphasized
				
				}
			}
		});
		//labels
		$("g:not([id$='-axis'])[id^='plot'] text").bind({
			mouseenter: function() {
				var x = this.getAttribute("x");
				//emphasized					
				if (emphasized[x]) {
					$(this).attr('id', 'e');	// emphasized already
				} else {
					var style = this.getAttribute("style");
					emphasized[x] = style;
					$(this).css('fill', 'crimson');
				}
				},
			mouseleave: function() { 
				var x = this.getAttribute("x")
				$(this).attr("style", emphasized[x]);
				delete emphasized[x];
			},
			click: function() {
				if (this.getAttribute("id") == "e") {		// back un-emphasized
					var x = this.getAttribute("x");
					$(this).attr("style", emphasized[x]);
					$(this).removeAttr('id');
					delete emphasized[x];
				} else {
					$(this).off('mouseleave');		// keep emphasized
				}			
			},
		});
		//links
		$("#track_0 path").bind({
			mouseenter: function() {
				var d = this.getAttribute("d");
				if (emphasized[d]) {
					$(this).attr('id', 'e');	// emphasized already
				} else {
					var style = this.getAttribute("style");
					emphasized[d] = style;
					$(this).css('stroke', 'crimson');
					$(this).css('stroke-width', '7')
				}
			},
			mouseleave: function() {
				var d = this.getAttribute("d")
				$(this).attr("style", emphasized[d]);
				delete emphasized[d];
			},
			click: function() {
				if (this.getAttribute("id") == "e") {		// back un-emphasized
					var d = this.getAttribute("d");
					$(this).attr("style", emphasized[d]);
					$(this).removeAttr('id');
					delete emphasized[d];	
				} else {
					$(this).off('mouseleave');		// keep emphasized
				
				}
			}
		});
	} else {
		console.debug("highlights: OFF")
		$("#ideograms text").unbind("mouseenter mouseleave click")
		$("g[id^='plot'][id$='-axis'] path").unbind("mouseenter mouseleave")
		$("g:not([id$='-axis'])[id^='plot'] path").unbind("mouseenter mouseleave click")
		$("g:not([id$='-axis'])[id^='plot'] polygon").unbind("mouseenter mouseleave click")
		$("g:not([id$='-axis'])[id^='plot'] rectangle").unbind("mouseenter mouseleave click")
		$("g:not([id$='-axis'])[id^='plot'] circle").unbind("mouseenter mouseleave click")
		$("g:not([id$='-axis'])[id^='plot'] text").unbind("mouseenter mouseleave click")
		$("#track_0 path").unbind("mouseenter mouseleave click")
	}
}

//values + info -> ON/OFF
function v(){
	console.debug(document.getElementById('val').checked)
	if(document.getElementById('val').checked){
		//info about tracks' values
		// histograms & heatmaps
		$("g[id^='plot'] path").each(function(i,v) {
			id = $(this).parent()[0].id;
			if (id.search('axis')==-1){
				var t = this
				var val = t.getAttribute("data-value");
				var chr = (t.getAttribute("data-chr")).replace(/'/g,"");
				var s = t.getAttribute("data-start");
				var e = t.getAttribute("data-end");
				$(this).tooltip({title: '<b>' + val + '</b><br>' + chr + ': ' + s + '-' + e , container: 'body', placement: "auto left", trigger:'hover', html:'true'});
				$(this).bind("click", function(){
					document.getElementById("gene_info").style.display = "block";
					
					$.ajax({
        					url: server + "//map/" + species + "/GRCh37/" + String(chr.replace("chr","")) + ":" + String(s) + ".." + String(e) + ":1/GRCh38?;content-type=application/json"
    					}).then(function(data1) {
						console.debug(data1)
							if (data1.mappings.length == 0){
								document.getElementById("gi").append("<div class='row'><div class='col-md-6'><em>This position does not correspond to a gene</em></div><div class='col-md-6'><b>Value: </b>" + val + "<br><b>Chr: </b>" + chr + "<br><b>Position: </b>" + s + " - " + e + "</div></div>")
							}else {
								var ms = data1["mappings"][0]["mapped"]["start"]
    								var me = data1["mappings"][0]["mapped"]["end"]
								$.ajax({
									url: server + "/overlap/region/" + species + "/" + String(chr.replace("chr","")) + ":" + String(ms) + "-" + String(me) + "?feature=gene;content-type=application/json"
		    						}).then(function(data2) {
									console.debug(data2)
									if (data2.length == 0){
									document.getElementById("gi").append("<div class='row'><div class='col-md-6'><em>This position does not correspond to a gene</em></div><div class='col-md-6'><b>Value: </b>" + val + "<br><b>Chr: </b>" + chr + "<br><b>Position: </b>" + s + " - " + e + "</div></div>")
									}else {
										console.debug(data2[0]['external_name'])
										console.debug(data2[0]['gene_id'])
										console.debug(data2[0]['biotype'])
										console.debug(data2[0]['description'])
										var n = data2[0]['external_name']
										var i = data2[0]["gene_id"]
										var b = (data2[0]["biotype"]).replace("_", " ")
										var d = data2[0]["description"]
										$(".panel-body-gi").empty().append("<div class='row'><div class='col-md-6'><b>Gene: </b>" + n + "<br><b>ID: </b>" + i + "<br><b>Biotype: </b>" + b + "<br><b>Description: </b>" + d + "</div><div class='col-md-6'><b>Value: </b>" + val + "<br><b>Chr: </b>" + chr + "<br><b>Position: </b>" + s + " - " + e + "</div></div>")
									}
								});									
							}
    						});
				})
			}
		});
		// labels
		$("g[id^='plot'] text").each(function(i,v) {
			id = $(this).parent()[0].id;
			if (id.search('axis')==-1){
				var t = this
				var val = (t.getAttribute("data-value")).replace(/'/g,"");
				var chr = (t.getAttribute("data-chr")).replace(/'/g,"");
				var s = t.getAttribute("data-start");
				var e = t.getAttribute("data-end");
				$(this).tooltip({title: '<b>' + val + '</b><br>' + chr + ': ' + s + '-' + e , container: 'body', trigger: 'hover', placement: "auto left", html:'true'});
				$(this).bind("click", function(){
					document.getElementById("gene_info").style.display = "block";
					
					$.ajax({
        					url: server + "//map/" + species + "/GRCh37/" + String(chr.replace("chr","")) + ":" + String(s) + ".." + String(e) + ":1/GRCh38?;content-type=application/json"
    					}).then(function(data1) {
						console.debug(data1)
							if (data1.mappings.length == 0){
								document.getElementById("gi").append("<div class='row'><div class='col-md-6'><em>This position does not correspond to a gene</em></div><div class='col-md-6'><b>Value: </b>" + val + "<br><b>Chr: </b>" + chr + "<br><b>Position: </b>" + s + " - " + e + "</div></div>")
							}else {
								var ms = data1["mappings"][0]["mapped"]["start"]
    								var me = data1["mappings"][0]["mapped"]["end"]
								$.ajax({
									url: server + "/overlap/region/" + species + "/" + String(chr.replace("chr","")) + ":" + String(ms) + "-" + String(me) + "?feature=gene;content-type=application/json"
		    						}).then(function(data2) {
									console.debug(data2)
									if (data2.length == 0){
									document.getElementById("gi").append("<div class='row'><div class='col-md-6'><em>This position does not correspond to a gene</em></div><div class='col-md-6'><b>Value: </b>" + val + "<br><b>Chr: </b>" + chr + "<br><b>Position: </b>" + s + " - " + e + "</div></div>")
									}else {
										console.debug(data2[0]['external_name'])
										console.debug(data2[0]['gene_id'])
										console.debug(data2[0]['biotype'])
										console.debug(data2[0]['description'])
										var n = data2[0]['external_name']
										var i = data2[0]["gene_id"]
										var b = data2[0]["biotype"]
										var d = data2[0]["description"]
										$(".panel-body-gi").empty().append("<div class='row'><div class='col-md-6'><b>Gene: </b>" + n + "<br><b>ID: </b>" + i + "<br><b>Biotype: </b>" + b + "<br><b>Description: </b>" + d + "</div><div class='col-md-6'><b>Value: </b>" + val + "<br><b>Chr: </b>" + chr + "<br><b>Position: </b>" + s + " - " + e + "</div></div>")
									}
								});									
							}
    						});
				})
			}
		});
		// scatter plots : circle glyphs
		$("g[id^='plot'] circle").each(function(i,v) {
			id = $(this).parent()[0].id;
			if (id.search('axis')==-1){
				var t = this
				var val = (t.getAttribute("data-value")).replace(/'/g,"");
				var chr = (t.getAttribute("data-chr")).replace(/'/g,"");
				var s = t.getAttribute("data-start");
				var e = t.getAttribute("data-end");
				$(this).tooltip({title: '<b>' + val + '</b><br>' + chr + ': ' + s + '-' + e , container: 'body', placement: "auto left", trigger:'hover', html:'true'});
				$(this).bind("click", function(){
					document.getElementById("gene_info").style.display = "block";
					
					$.ajax({
        					url: server + "//map/" + species + "/GRCh37/" + String(chr.replace("chr","")) + ":" + String(s) + ".." + String(e) + ":1/GRCh38?;content-type=application/json"
    					}).then(function(data1) {
						console.debug(data1)
							if (data1.mappings.length == 0){
								document.getElementById("gi").append("<div class='row'><div class='col-md-6'><em>This position does not correspond to a gene</em></div><div class='col-md-6'><b>Value: </b>" + val + "<br><b>Chr: </b>" + chr + "<br><b>Position: </b>" + s + " - " + e + "</div></div>")
							}else {
								var ms = data1["mappings"][0]["mapped"]["start"]
    								var me = data1["mappings"][0]["mapped"]["end"]
								$.ajax({
									url: server + "/overlap/region/" + species + "/" + String(chr.replace("chr","")) + ":" + String(ms) + "-" + String(me) + "?feature=gene;content-type=application/json"
		    						}).then(function(data2) {
									console.debug(data2)
									if (data2.length == 0){
									document.getElementById("gi").append("<div class='row'><div class='col-md-6'><em>This position does not correspond to a gene</em></div><div class='col-md-6'><b>Value: </b>" + val + "<br><b>Chr: </b>" + chr + "<br><b>Position: </b>" + s + " - " + e + "</div></div>")
									}else {
										console.debug(data2[0]['external_name'])
										console.debug(data2[0]['gene_id'])
										console.debug(data2[0]['biotype'])
										console.debug(data2[0]['description'])
										var n = data2[0]['external_name']
										var i = data2[0]["gene_id"]
										var b = (data2[0]["biotype"]).replace("_", " ")
										var d = data2[0]["description"]
										$(".panel-body-gi").empty().append("<div class='row'><div class='col-md-6'><b>Gene: </b>" + n + "<br><b>ID: </b>" + i + "<br><b>Biotype: </b>" + b + "<br><b>Description: </b>" + d + "</div><div class='col-md-6'><b>Value: </b>" + val + "<br><b>Chr: </b>" + chr + "<br><b>Position: </b>" + s + " - " + e + "</div></div>")
									}
								});									
							}
    						});
				})
			}
		});
		// scatter plots: rectangle glyphs
		$("g[id^='plot'] rectangle").each(function(i,v) {
			id = $(this).parent()[0].id;
			if (id.search('axis')==-1){
				var val = this.getAttribute("data-value");
				var chr = (this.getAttribute("data-chr")).replace(/'/g,"");
				var s = this.getAttribute("data-start");
				var e = this.getAttribute("data-end");
				$(this).tooltip('show', {title: '<b>' + val + '</b><br>' + chr + ': ' + s + '-' + e , container: 'body', placement: "auto left", trigger:'hover', html:'true'});
				$(this).bind("click", function(){
					document.getElementById("gene_info").style.display = "block";
					
					$.ajax({
        					url: server + "//map/" + species + "/GRCh37/" + String(chr.replace("chr","")) + ":" + String(s) + ".." + String(e) + ":1/GRCh38?;content-type=application/json"
    					}).then(function(data1) {
						console.debug(data1)
							if (data1.mappings.length == 0){
								document.getElementById("gi").append("<div class='row'><div class='col-md-6'><em>This position does not correspond to a gene</em></div><div class='col-md-6'><b>Value: </b>" + val + "<br><b>Chr: </b>" + chr + "<br><b>Position: </b>" + s + " - " + e + "</div></div>")
							}else {
								var ms = data1["mappings"][0]["mapped"]["start"]
    								var me = data1["mappings"][0]["mapped"]["end"]
								$.ajax({
									url: server + "/overlap/region/" + species + "/" + String(chr.replace("chr","")) + ":" + String(ms) + "-" + String(me) + "?feature=gene;content-type=application/json"
		    						}).then(function(data2) {
									console.debug(data2)
									if (data2.length == 0){
									document.getElementById("gi").append("<div class='row'><div class='col-md-6'><em>This position does not correspond to a gene</em></div><div class='col-md-6'><b>Value: </b>" + val + "<br><b>Chr: </b>" + chr + "<br><b>Position: </b>" + s + " - " + e + "</div></div>")
									}else {
										console.debug(data2[0]['external_name'])
										console.debug(data2[0]['gene_id'])
										console.debug(data2[0]['biotype'])
										console.debug(data2[0]['description'])
										var n = data2[0]['external_name']
										var i = data2[0]["gene_id"]
										var b = (data2[0]["biotype"]).replace("_", " ")
										var d = data2[0]["description"]
										$(".panel-body-gi").empty().append("<div class='row'><div class='col-md-6'><b>Gene: </b>" + n + "<br><b>ID: </b>" + i + "<br><b>Biotype: </b>" + b + "<br><b>Description: </b>" + d + "</div><div class='col-md-6'><b>Value: </b>" + val + "<br><b>Chr: </b>" + chr + "<br><b>Position: </b>" + s + " - " + e + "</div></div>")
									}
								});									
							}
    						});
				})
			}
		});
		// scatter plots: triangles glyphs
		$("g[id^='plot'] polygon").each(function(i,v) {
			id = $(this).parent()[0].id;
			if (id.search('axis')==-1){
				var val = this.getAttribute("data-value");
				var chr = (this.getAttribute("data-chr")).replace(/'/g,"");
				var s = this.getAttribute("data-start");
				var e = this.getAttribute("data-end");
				$(this).tooltip('show', {title: '<b>' + val + '</b><br>' + chr + ': ' + s + '-' + e , container: 'body', placement: "auto left", trigger:'hover', html:'true'});
				$(this).bind("click", function(){
					document.getElementById("gene_info").style.display = "block";
					
					$.ajax({
        					url: server + "//map/" + species + "/GRCh37/" + String(chr.replace("chr","")) + ":" + String(s) + ".." + String(e) + ":1/GRCh38?;content-type=application/json"
    					}).then(function(data1) {
						console.debug(data1)
							if (data1.mappings.length == 0){
								document.getElementById("gi").append("<div class='row'><div class='col-md-6'><em>This position does not correspond to a gene</em></div><div class='col-md-6'><b>Value: </b>" + val + "<br><b>Chr: </b>" + chr + "<br><b>Position: </b>" + s + " - " + e + "</div></div>")
							}else {
								var ms = data1["mappings"][0]["mapped"]["start"]
    								var me = data1["mappings"][0]["mapped"]["end"]
								$.ajax({
									url: server + "/overlap/region/" + species + "/" + String(chr.replace("chr","")) + ":" + String(ms) + "-" + String(me) + "?feature=gene;content-type=application/json"
		    						}).then(function(data2) {
									console.debug(data2)
									if (data2.length == 0){
									document.getElementById("gi").append("<div class='row'><div class='col-md-6'><em>This position does not correspond to a gene</em></div><div class='col-md-6'><b>Value: </b>" + val + "<br><b>Chr: </b>" + chr + "<br><b>Position: </b>" + s + " - " + e + "</div></div>")
									}else {
										console.debug(data2[0]['external_name'])
										console.debug(data2[0]['gene_id'])
										console.debug(data2[0]['biotype'])
										console.debug(data2[0]['description'])
										var n = data2[0]['external_name']
										var i = data2[0]["gene_id"]
										var b = (data2[0]["biotype"]).replace("_", " ")
										var d = data2[0]["description"]
										$(".panel-body-gi").empty().append("<div class='row'><div class='col-md-6'><b>Gene: </b>" + n + "<br><b>ID: </b>" + i + "<br><b>Biotype: </b>" + b + "<br><b>Description: </b>" + d + "</div><div class='col-md-6'><b>Value: </b>" + val + "<br><b>Chr: </b>" + chr + "<br><b>Position: </b>" + s + " - " + e + "</div></div>")
									}
								});									
							}
    						});
				})
			}
		});
		// links
		$("#track_0 path").each(function(i,v) {
			var chr1 = (this.getAttribute("data-chr1")).replace(/'/g,"");
			var s1 = this.getAttribute("data-start1");
			var e1 = this.getAttribute("data-end1");
			var chr2 = (this.getAttribute("data-chr2")).replace(/'/g,"");
			var s2 = this.getAttribute("data-start2");
			var e2 = this.getAttribute("data-end2");
			$(this).tooltip({title: chr1 + ': ' + s1 + '-' + e1 + '<br>to<br>' + chr2 + ': ' + s2 + '-' + e2 , container: 'body', placement: "auto left", trigger:'hover', html:'true'});
		});
	} else {
		$("g[id^='plot'] path").each(function(i,v) {
			id = $(this).parent()[0].id;
			if (id.search('axis')==-1){
				$(this).tooltip('destroy');
				$(this).unbind("click");
			}
		});
		$("g[id^='plot'] text").each(function(i,v) {
			id = $(this).parent()[0].id;
			if (id.search('axis')==-1){
				$(this).tooltip('destroy');
				$(this).unbind("click");
			}
		});
		$("g[id^='plot'] circle").each(function(i,v) {
			id = $(this).parent()[0].id;
			if (id.search('axis')==-1){
				$(this).tooltip('destroy');
				$(this).unbind("click");
			}
		});
		$("g[id^='plot'] rectangle").each(function(i,v) {
			id = $(this).parent()[0].id;
			if (id.search('axis')==-1){
				$(this).tooltip('destroy');
				$(this).unbind("click");
			}
		});
		$("g[id^='plot'] polygon").each(function(i,v) {
			id = $(this).parent()[0].id;
			if (id.search('axis')==-1){
				$(this).tooltip('destroy');
				$(this).unbind("click");
			}
		});
	}
}
/*function interaction(){
	
	if(document.getElementById('val').checked){
		console.debug('adding tooltip');
	// info about tracks value
				// histograms & heatmaps
				$("g[id^='plot'] path").each(function(i,v) {
					id = $(this).parent()[0].id;
					if (id.search('axis')==-1){
						var t = this
						var val = t.getAttribute("data-value");
						var chr = (t.getAttribute("data-chr")).replace(/'/g,"");
						var s = t.getAttribute("data-start");
						var e = t.getAttribute("data-end");
						$(this).tooltip({title: '<b>' + val + '</b><br>' + chr + ': ' + s + '-' + e , container: 'body', placement: "auto left", trigger:'hover', html:'true'});
					}
				});

				// labels
				$("g[id^='plot'] text").each(function(i,v) {
					id = $(this).parent()[0].id;
					if (id.search('axis')==-1){
						var t = this
						var val = (t.getAttribute("data-value")).replace(/'/g,"");
						var chr = (t.getAttribute("data-chr")).replace(/'/g,"");
						var s = t.getAttribute("data-start");
						var e = t.getAttribute("data-end");
						//$(t).mouseover(function(){
							$.ajax({
        							url: server + "//map/" + species + "/GRCh37/" + String(chr.replace("chr","")) + ":" + String(s) + ".." + String(e) + ":1/GRCh38?;content-type=application/json"
    								}).then(function(data1) {
									//console.debug(typeof(data1))
									console.debug(data1)
									if (data1.mappings.length == 0){
										$(t).tooltip({title: '<b>' + val + '</b><br>' + chr + ': ' + s + '-' + e + '<br><b>Gene</b><br>This position does not correspond to a gene', container: 'body', placement: "auto left", trigger:'hover', html:'true'});
									}
									else {
										var ms = data1["mappings"][0]["mapped"]["start"]
    										var me = data1["mappings"][0]["mapped"]["end"]
										$.ajax({
											url: server + "/overlap/region/" + species + "/" + String(chr.replace("chr","")) + ":" + String(ms) + "-" + String(me) + "?feature=gene;content-type=application/json"
		    									}).then(function(data2) {
												console.debug(data2)
												if (data2.length == 0){
													$(t).tooltip({title: '<b>' + val + '</b><br>' + chr + ': ' + s + '-' + e + '<br><b>Gene</b><br>This position does not correspond to a gene', container: 'body', placement: "auto left", trigger:'hover', html:'true'});
												}
												else {
													console.debug(data2[0]["external_name"])
													console.debug(data2[0]["gene_id"])
													console.debug(data2[0]["biotype"])
													console.debug(data2[0]["description"])
													$(t).tooltip({title: '<b>' + val + '</b><br>' + chr + ': ' + s + '-' + e + '<br><b>Gene</b><br>Name: ' + data2[0]["external_name"].replace(/[\[\]",]+/g, "") + '<br>ID: ' + data2[0]["gene_id"].replace(/[\[\]",]+/g, "") + '<br>Biotype: ' + data2[0]["biotype"].replace(/[\[\]",]+/g, "") + '<br>Description: ' + data2[0]["description"].replace(/[\[\]",]+/g, ""), container: 'body', placement: "auto left", trigger:'hover', html:'true'});
												}
												
										});									
									}
    								});
						//});
					}
				});
			
				// scatter plots : circle glyphs
				$("g[id^='plot'] circle").each(function(i,v) {
					id = $(this).parent()[0].id;
					if (id.search('axis')==-1){
						var t = this
						var val = (t.getAttribute("data-value")).replace(/'/g,"");
						var chr = (t.getAttribute("data-chr")).replace(/'/g,"");
						var s = t.getAttribute("data-start");
						var e = t.getAttribute("data-end");
						$(this).tooltip({title: '<b>' + val + '</b><br>' + chr + ': ' + s + '-' + e , container: 'body', placement: "auto left", trigger:'hover', html:'true'});
					}
				});
	
				// scatter plots: triangle, square
				$("g[id^='plot'] polygon").each(function(i,v) {
					id = $(this).parent()[0].id;
					if (id.search('axis')==-1){
						var val = this.getAttribute("data-value");
						var chr = (this.getAttribute("data-chr")).replace(/'/g,"");
						var s = this.getAttribute("data-start");
						var e = this.getAttribute("data-end");
						$(this).tooltip({title: '<b>' + val + '</b><br>' + chr + ': ' + s + '-' + e , container: 'body', placement: "auto left", trigger:'hover', html:'true'});
						
					}
				});

				// scatter plots: rectangle glyphs
				$("g[id^='plot'] rectangle").each(function(i,v) {
					id = $(this).parent()[0].id;
					if (id.search('axis')==-1){
						var val = this.getAttribute("data-value");
						var chr = (this.getAttribute("data-chr")).replace(/'/g,"");
						var s = this.getAttribute("data-start");
						var e = this.getAttribute("data-end");
						$(this).tooltip({title: '<b>' + val + '</b><br>' + chr + ': ' + s + '-' + e , container: 'body', placement: "auto left", trigger:'hover', html:'true'});
						
					}
				});

				// links
				$("#track_0 path").each(function(i,v) {
					var chr1 = (this.getAttribute("data-chr1")).replace(/'/g,"");
					var s1 = this.getAttribute("data-start1");
					var e1 = this.getAttribute("data-end1");
					var chr2 = (this.getAttribute("data-chr2")).replace(/'/g,"");
					var s2 = this.getAttribute("data-start2");
					var e2 = this.getAttribute("data-end2");
					$(this).tooltip({title: chr1 + ': ' + s1 + '-' + e1 + '<br>to<br>' + chr2 + ': ' + s2 + '-' + e2 , container: 'body', placement: "auto left", trigger:'hover', html:'true'});
				});
	}
	else{
		//console.debug('tooltip: OFF');
	}

		
				
	}
	else{
		console.debug('highlights: OFF');
		$("#ideograms text").unbind(mouseover, mouseout, click);
	}
}
*/

		
</script>
{% endblock %}
