<form action="/logged" method="post" enctype="multipart/form-data" class="form-signin">

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="fluid-container">
					
						<input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required>
						<input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
						<br>
						<button class="btn btn btn-primary btn-block" type="submit">Sign in</button>
						<center>Not yet <a href="{{ url_for('register') }}" class="alert-link">registered</a>?</center>
					
				</div>
			</div>
		</div>
</div>	</div>
</form>
