{% extends "base.html" %}

{% block header %}
<h1> MyCircos <small>Every previously generated Circos</small></h1>
{% endblock %}

{% block content %}
<div class="row">
	{% for unique in c_all %}
	<div class="col-md-4">
		<div class="thumbnail">
			<a href="/get_info/{{ unique }}">
				<img src="{{ url_for('get_png', unique=unique) }}" height=30% width=30%></img> 
			</a>			
			<div class="caption text-center">
				<h4>Circos_{{ unique }}</h4>
				<p></p>
			</div>
			<a href="/download/{{ unique }}/circos_{{ unique }}.svg" class="btn btn-primary " role="button">Download SVG</a>
			<a href="/get_info/{{ unique }}" class="btn btn-primary pull-right " role="button">Details</a>
		</div>
	</div>
	{% endfor %}
</div>

<div class="row">
	<div class="col-md-1">
		<a href="/delete_all" class="btn btn-danger " role="button">Delete All</a>
		<br><br>
	</div>
</div>
{% endblock %}

