<h3>Scatter Plot</h3>
<p>The first step in altering a track represented by a scatter plot is to locate its <code>&ltplot&gt</code> block in <b>specific.conf</b>.</p>
<p>You should find the line <code>type = scatter</code> in that block.</p>

<br>
<h4><font color="#0088cc">Colors</font></h4>
<p>By default, the glyphs will be filled grey. You can easily change it by adding a line <code>color = </code> underneath <code>fill_color = white</code>: </p>
<div class=row>
	<div class="col-md-1">
	</div>
	<div class="col-md-5">
		<img class="media-object" src="{{ url_for('image', img='default_scatter.png')}}" alt="Default Histogram" style="margin-left: auto; margin-right: auto; width:100%; height:100%" >
		<p><center><code>fill_color = white</code></center></p>
	</div>
	<div class="col-md-5">
		<img class="media-object" src="{{ url_for('image', img='green_scatter.png')}}" alt="Default Histogram" style="margin-left: auto; margin-right: auto; width:100%; height:100%" >
		<p><center><code>fill_color = green<br>color = green</code></center></p>
	</div>
</div>
<p>You can also applied different colors for different value i.e. glyphs of values greater than 0 will be in blue, and glyphs of values smaller than 0 will be in red.</p>
<div class=row>
	<div class="col-md-1">
	</div>
	<div class="col-md-5">
		<pre>&ltplot&gt<br>  type = scatter<br>  svgclass = scatter<br>  file = scatter.txt<br>  r0 = 0.500r<br>  r1 = 0.950r<br>  orientation = out<br>  fill_color = white<br>  &lt&ltinclude axis.conf&gt&gt<br>  &ltrules&gt<br>    &lt&ltinclude svg_rule_track.conf&gt&gt<br>    <font color="#0088cc"><b>&ltrule&gt</b></font><br>      <font color="#0088cc"><b>condition = var(value) > 0</b></font><br>      <font color="#0088cc"><b>color = blue</b></font><br>    <font color="#0088cc"><b>&lt/rule&gt</b></font><br>    <font color="#0088cc"><b>&ltrule&gt</b></font><br>      <font color="#0088cc"><b>condition = var(value) &lt 0</b></font><br>      <font color="#0088cc"><b>color = red</b></font><br>    <font color="#0088cc"><b>&lt/rule&gt</b></font><br>  &lt/rules&gt<br>&lt/plot&gt</pre>
	</div>
	<div class="col-md-5">
		<img class="media-object" src="{{ url_for('image', img='two_scatter.png')}}" alt="Default Histogram" style="margin-left: auto; margin-right: auto; width:100%; height:100%" >
	</div>
</div>
<p>You can choose any color to differentiate your positive values from the negative ones.</p>

<br>
<h4><font color="#0088cc">Glyphs</font></h4>
<p><em>Glyphs</em> are the symbols representing each and every value of your data set. By default there are circle of size 10. You can easily change these parameters by adding the lines <code>glyph = </code> and/or <code>glyph_size = </code> underneath the <code>type = scatter</code> line. The first option takes as value a shape name (<em>circle, triangle, square</em>). The second one takes an integer value.</p>
<p><em><b>Attention:</b> not all glyphs have the same color filling parameter (<code>color</code> vr. <code>fill_color</code>).</em></p>
<div class="row">
	<div class="col-md-4">
		<img class="media-object" src="{{ url_for('image', img='c10_scatter.png')}}" alt="Default Histogram" style="margin-left: auto; margin-right: auto; width:100%; height:100%" >
		<p><center><code>glyph = circle<br>glyph_size = 10<br>color = orange</code></center></p>
	</div>
	<div class="col-md-4">
		<img class="media-object" src="{{ url_for('image', img='s25_scatter.png')}}" alt="Default Histogram" style="margin-left: auto; margin-right: auto; width:100%; height:100%" >
		<p><center><code>glyph = square<br>glyph_size = 25<br>fill_color = orange</code></center></p>
	</div>
	<div class="col-md-4">
		<img class="media-object" src="{{ url_for('image', img='t45_scatter.png')}}" alt="Default Histogram" style="margin-left: auto; margin-right: auto; width:100%; height:100%" >
		<p><center><code>glyph = triangle<br>glyph_size = 45<br>fill_color = orange</code></center></p>
	</div>			
</div>

<br>
<h4><font color="#0088cc">Min & Max</font></h4>
<p>The interface does not define a minimum and/or maximum values for your scatter plot. Instead, Circos will take the smallest and largest value from your data set, and define them as the min and max. It can sometime be hard to analyze data when there is a lot of small values and only a few large ones: the y-axis will be as large as the largest value. You can therefore set your own min and max within the <code>&ltplot&gt</code> block: </p>
<div class="row">
	<div class="col-md-4">
		<img class="media-object" src="{{ url_for('image', img='min_scatter.png')}}" alt="Default Histogram" style="margin-left: auto; margin-right: auto; width:100%; height:100%" >
		<p><center><code>min = 0</code></center></p>
	</div>
	<div class="col-md-4">
		<img class="media-object" src="{{ url_for('image', img='max_scatter.png')}}" alt="Default Histogram" style="margin-left: auto; margin-right: auto; width:100%; height:100%" >
		<p><center><code>max = 0</code></center></p>
	</div>
	<div class="col-md-4">
		<img class="media-object" src="{{ url_for('image', img='min_max_scatter.png')}}" alt="Default Histogram" style="margin-left: auto; margin-right: auto; width:100%; height:100%" >
		<p><center><code>min = -40</code></center></p>
		<p><center><code>max = 40</code></center></p>
	</div>			
</div>

<br>
<h4><font color="#0088cc">Background</font></h4>
<p>Changing the background color can sometime be usefull. If you want to do so, you will first have to define a new general block, <code>&ltbackgrounds&gt</code>. This block is within <code>&ltplot&gt</code> and will contain smaller blocks, <code>&ltbackground&gt</code>.</p>
<div class=row>
	<div class="col-md-1">
	</div>
	<div class="col-md-5">
		<pre>&ltplot&gt<br>  type = scatter<br>  svgclass = scatter<br>  file = scatter.txt<br>  r0 = 0.500r<br>  r1 = 0.950r<br>  orientation = out<br>  fill_color = white<br>  &lt&ltinclude axis.conf&gt&gt<br>  &ltrules&gt<br>    &lt&ltinclude svg_rule_track.conf&gt&gt<br>  &lt/rules&gt<br>  <font color="#0088cc"><b> &ltbackgrounds&gt</b></font><br>  <font color="#0088cc"><b> &lt/backgrounds&gt</b></font><br>&lt/plot&gt</pre>
	</div>
	<div class="col-md-5">
		<pre>&ltbackgrounds&gt<br>  <font color="#0088cc"><b>&ltbackground&gt</b></font><br>    <font color="#0088cc"><b>y0 = </b></font><br>    <font color="#0088cc"><b>y1 = </b></font><br>    <font color="#0088cc"><b>color = </b></font><br>  <font color="#0088cc"><b>&lt/background&gt</b></font><br>&lt/backgrounds&gt</pre>
	<br>	
	<p>You can as many <code>&ltbackground&gt</code> block as you want.</p>
	<p><code>y0</code> and <code>y1</code> represent the y-axis range to be colored.</p>
	<p><code>color</code> takes as value a color name.
	</div>
</div>
<div class=row>
	<div class="col-md-1">
	</div>
	<div class="col-md-5">
		<br><br><br>
		<pre>&ltbackgrounds&gt<br>  <font color="#0088cc"><b>&ltbackground&gt</b></font><br>    <font color="#0088cc"><b>y0 = 0</b></font><br>    <font color="#0088cc"><b>y1 = 500</b></font><br>    <font color="#0088cc"><b>color = vlblue</b></font><br>  <font color="#0088cc"><b>&lt/background&gt</b></font><br>  <font color="#0088cc"><b>&ltbackground&gt</b></font><br>    <font color="#0088cc"><b>y0 = 0</b></font><br>    <font color="#0088cc"><b>y1 = -300</b></font><br>    <font color="#0088cc"><b>color = vlred</b></font><br>  <font color="#0088cc"><b>&lt/background&gt</b></font><br>&lt/backgrounds&gt</pre>
	</div>
	<div class="col-md-5">
		<img class="media-object" src="{{ url_for('image', img='back_scatter.png')}}" alt="Default Histogram" style="margin-left: auto; margin-right: auto; width:100%; height:100%" >
	</div>
</div>
